#일반적인 print문
출력할 문자열을 감싸는 기호

콤마(,)와 더하기(+)의 차이점

In [ ]:
print('Hello Python!')
print("Hello Python!")
print('Hello "Python"')
print("Hello 'Python'")
print('Hello', 'Python!')
print('Hello' + 'Python!')

end 인자와 sep인자의 사용

In [ ]:
print('Hello', end=' ')
print('Python')
print('Hello', end='&&&')
print('Python')
print('Hello', 'Python', sep='#')

% 기호를 사용하여 변수 값을 출력할 수 있다.
%d 정수, %f 실수, %s 문자열
%5.2f 처럼 출력하는 모양을 지정할 수 있다.

In [ ]:
#변수명으로 대입 가능
s='number : {num}, gender : {gen}'.format(num=1234,gen='남')
print(s)

In [ ]:
# 인덱스를 입력하지 않으면?
s='name : {}, city : {}'.format('BlockDMask','seoul')
print(s)

In [ ]:
# 인덱스 순서가 바뀌면?
s='song1 : {1}, song2 : {0}'.format('nunu nana','ice cream')
print(s)

In [ ]:
# 인덱스를 중복해서 입력하면?
s='test1 : {0}, test2 : {1}, test3 : {0}'.format('인덱스0','인덱스1')
print(s)

In [ ]:
# 중괄호가 나오게 하려면?
s='Format example. {{}}, {}'.format('test')
print(s)

In [ ]:
# 중괄호로 겹쳐진 인자값 {1212} 를 출력하려면?
s='This is value {{{0}}}'.format(1212)
print(s)

In [ ]:
# 정수 N자리
s='정수 3자리 : {0:03d}, {1:03d}'.format(12345,12)
print(s)

# 소수점 N자리
s='아래 2자리 : {0:0.2f}, 아래 5자리 : {1:0.5f}'.format(123.1234567,3.14)
print(s)

% 사용

In [ ]:
# % 기호 문자 출력
name = 'kim'
print('my name is %s' % name)

# % 기호 정수 출력
money = 10000
s = 'give me %d won' % money
print(s)

# % 기호 실수 출력
d = 3.141592
print('value %f' % d)

# 출력해야할 값이 두개 이상인 경우 () 를 이용
s1 = 'my name is %s. age : %d' % ('blockdmask', 100)
print(s1)

f-string사용

In [ ]:
# 문자열 맨 앞에 f를 붙이고, 출력할 변수, 값을 중괄호 안에
s='coffee'
n=5
result1 = f'저는 {s}를 좋아합니다. 하루 {n}잔 마셔요.'
print(result1)

In [ ]:
# f-string 중괄호 출력
num = 10
result = f'my age {{{num}}}, {{num}}'
print(result)